@mixin bare-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // We can't deduplicate these into a single `&, & > li` selector, because
  // otherwise the ul/ol rules will always get put at the end of the block
  // in which this mixin was included, instead of at the position at which
  // @include was called.
}

@mixin screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
